@font-face {
    font-family:"cake";
    src: url(./assets/Fonts/Cake\ Mania.ttf);
}
@font-face {
    font-family:"caviar";
    src: url(./assets/Fonts/CaviarDreams.ttf);
}
@font-face {
    font-family:"hero";
    src: url(./assets/Fonts/Hero-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    min-height: 110vh;
    background-image: url(./assets/images/Landing-\ TRAVAUX.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
   
}
body::-webkit-scrollbar {
 
background-color: rgb(163, 160, 160);
width: 10px;
}

body::-webkit-scrollbar-thumb {
    background:linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
    border-radius: 10px;
    width: 3px;
    
   
}
body::-webkit-scrollbar-track-piece {
    background-color: rgb(95, 84, 84); 
}



.main {
    width: 100%;
    height: 100%;
    max-width: 90%;
     margin: 0 auto;  
   
}

header {
    background-color: rgba(0, 0, 0, 0.714);
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:20px;
    padding: 18px;
    box-shadow: 1px 5px 5px rgb(0,0,0,0.5);
    border: none;
    border-radius: 0px 0px 20px 20px;
    position: fixed;
    top: 0;
    z-index: 9999;
    
}

header .logo a{
    font-family: "cake";
    font-size: 2.5rem;
    color: white;
}

header .logo font {
    color: rgb(255, 0, 68);
}


header nav ul{
    display: flex;
    
}
header nav ul li{
    margin:0 10px;
    width: 128px;
    padding: 3px 0;
    background-size: 200% auto;
    transition: 0.5s ;
  
}
header nav ul li:hover{
    background-position: right center;
    background-image: linear-gradient(to right, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
    box-shadow: 0px 5px 5px rgba(14, 3, 3, 0.343);
   

}

header nav ul a {
    font-family: "hero";
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: 0.25s;
}
header nav ul a:hover {
    color: rgb(0, 0, 0);
    
}

.bar {
    border-left: 1px solid rgba(255, 255, 255, 0.68);
}

.hero {
    
    width: 100%;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    font-family: "caviar";
    font-weight: 800;
}

.hero .hello font {
    font-size: 2rem;

}

.hero button {
    padding: 15px 40px;
    border-radius: 0 15px 0 15px;
    border: none;
   background-image:linear-gradient(to right, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
   color:white;
   font-weight: bold;
   font-family: "hero";
   text-transform: uppercase;
   cursor: pointer;
   background-size: 200% auto;
   transition: 0.5s;
   box-shadow: 0px 5px 5px rgba(14, 3, 3, 0.343);
}
.hero button:hover {
    background-position: right center;
    scale:1.2;
   
}


footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    font-family: "caviar";
    font-weight: 800;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 10px solid;
    border-bottom: none;
    border-image: linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%)1;
    opacity: 0 ;
    transform: translateY(100px);
    transition: 0.25s ease; 
    

}

.footer {
    width: 100%;
    max-width: 90%;
     margin: 0 auto; 
    
   
}

.footer-toggle{
    opacity: 1;
    transform: translateY(0);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    
    
  
    

    


}

footer .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
   

}
footer h2 {
    background: -webkit-linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer  p {
    background: -webkit-linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
footer .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

footer .right .location {
   margin-left: 29px;
}

.fa-brands {
    color: white;
    scale: 1.2;
    margin: 0 5px;
}
.fa-location-dot{
    color: white;
    position: relative;
    bottom: 27px;
    margin-left: 22px;
    scale: 1.2;
}




/* Responsive PAGE ACCEUIL *-------------------------------------------/

/* 2xl */
@media (max-width=1536px){};

/* xl */
@media (max-width=1280px){
    body {
        font-weight: 20px;
    }
};

/* lg */
@media (max-width=1024px){
    body {
        font-weight: 19px;
    }
};

/* md */
@media (max-width=768px){
    body {
        font-weight: 18px;
    }
};

/* sm */
@media (max-width=640px){
    body {
        font-weight: 16px;
    }
};

/* xs */
@media (max-width=475px){
    body {
        font-weight: 15px;
    }
};


/* PAGE MY WORK */ /*-----------------------------------------------------*/




.header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 0 0 30px 30px;
    border: none;
    

}
.header h1 {
    text-align: center;
    padding: 10px 0;
    color: rgb(255, 255, 255);
    font-family: "caviar";
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
}
    

.hero-Page{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.hero-Page .content {
    background-size: 200% auto;
    background-image:linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(249, 135, 29, 0.855) 51%, rgb(246, 148, 246)100%);
    display: flex;
    flex-direction: raw;
    gap: 30px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-top:40px;
    padding: 0 40px;
    transition: 0.5s;
}

.hero-Page .content:hover{
    background-position: right center;
    
}


.hero-Page .content img {
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
    border-radius: 10px;
    
}
.hero-Page .content img:hover{
    box-Shadow: 5px 5px 10px rgba(0, 0, 1, 0.5) !important;
}


    
.hero-Page .content .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;

    
  
}

.hero-Page .content .left .txt::before {
    content: "Design Graphique & Illustration";
    font-family: "caviar";
    font-size: 25px;
    font-weight: bold;

    
   

}

.hero-Page .content .right{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
    
}
.hero-Page .content .right .txt::before {
    content: "Web Design (Landing Page)";
    font-family: "caviar";
    font-size: 25px;
    font-weight:bold ;
}


.hero-Page .content button{
    background-color: black;
    color: white;
    font-family: "hero";
    padding:10px 40px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: 0.25s ease;
    
}
.hero-Page .content button:hover{
    background-color:rgba(3, 255, 255, 0.545);
    transform: translateY(-5px);
    color: black;
    
    
}

/* PAGE DG ------------------------------------------------------------- */

.header font{
    color: rgb(255, 0, 55);
    text-transform: none;
}

.header {
    background-color: rgb(0, 0, 0);
    width: 100%;
    max-width: 500px;
    margin-top: 80px !important;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 0 0 30px 30px;
    border: none;
    

}

.gallery-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    max-width: 1000px;
    padding:30px;
    margin: 0 auto;
    margin-top: 30px;
    background-size: 200% auto;
    background-image:linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(249, 135, 29, 0.855) 51%, rgb(246, 148, 246)100%);
    border-radius: 30px 0 30px 30px;;   
    transition: 0.5s;

    
}
.gallery-1:hover{
    background-position: right center;

}


.gallery-1 img {
   width: 100%;
   max-width: 350px;
   height: 300px;
   object-fit: cover;
   border-radius: 8px;
   box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.494);
   transition: 0.25s ;
}
.gallery-1 img:hover{
    box-shadow: 1px 1px 10px 5px rgb(255, 255, 255)!important;
   
}

.gallery-1 .img-btn {
    width: 100%;
    max-width: 400px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 10px;
   
}
.gallery-1 .img-btn button:hover{
    background-color:rgba(31, 137, 137, 0.856)
}


.gallery-1 .img-btn button {
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.26);
    transition: 0.25s ease;
}

.gallery-1::after {
    content:"";
    width: 400px;

}



.img-btn button{
    font-family: "hero";
    padding: 10px 40px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: 560;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;

}


.down {
    width: 100%;
    max-width: 1000px;
    height: 75px;
    background-color: rgba(0, 0, 0, 0.863);
    position: fixed;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
   
}
.down p {
    color: white;
    font-family: "cake";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 3rem;

}

.down font {
    color: rgb(255, 0, 68);
}


.img {
    display: none;
}


.show{
  transform: translateY(0px);
  opacity: 1 !important;
  display: inline-block !important;
}
.disapear{
    transform: translateY(-200px);
    opacity: 0;
  
 

}
.barDi {
    opacity: 0 !important;
    display: none !important;
    
    
}
.barVi {
    opacity:1 !important;
    display: inline-block !important;
    
}
.crossVi {
    display:inline-block !important;
    opacity:1 !important;
}

.crossDi {
    opacity:0 !important;
    display: none !important;
}

.ibar{
    scale: 1.4;
    position: absolute;
    right:20px;
    top: 25px;
    transition: 0.25s ease;
    color: white;
    display: none;

}
.ibar .fa-bars{
    /* scale: 1.4; */
    position: absolute;
    right:0px;
    top: -9px;
    transition: 0.25s ease;
    color: white;
    /* display: none; */
    
}

.ibar .fa-bars {
    transition: 0.3s;
    
}

.ibar .fa-xmark {
    position: absolute;
    right: 1px;
    top: -10px;
    color: rgb(255, 255, 255);
    display: none;
    z-index: 9999;
    transition: 0.3s;
    /* opacity: 0; */
}

.fa-xmark:active {
    color: rgb(255, 0, 68);
      
}


.fa-bars:active {
    transform: rotate(45deg);
    color: rgb(255, 0, 68);
    
    
}

/* Responsive Dg------------------------------------------------------ */

/* 2xl */
@media (max-width:1327px){
    .down {
        max-width: 90%;
       }
    
}

/* xl */

@media (max-width:1280px){
    body {
        font-weight: 20px;
    }
    
}

/* lg */

@media (max-width:950px){
    body {
        font-weight: 19px;    
    }

    header nav ul{
        display:flex;  
    }

    .hero-Page .content {
        display: flex;
        flex-wrap: wrap;
    }

    .header {
        scale: 0.8;
        transition: 0.25s ease;
        margin-top: 70px !important;
        
    }

   

    
}

/* md */


@media (max-width:750px){

    .ibar {
        display: inline-block;
    }

    header nav{ 
       
       
    }
           
        header nav ul {
            position: fixed;
            top: 68px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: block;
            background-color: rgba(0, 0, 0, 0.671);
            width: 100%;
            max-width: 90%;
            border-radius: 0 0 20px 20px;
            display: none;
            /* opacity: 0; */
            transition: 0.5s;
            /* transform:translateY(-200px); */
                             
        }
        header nav ul li{
            width: 100%;
            padding: 8px;
        }
   
  
}
@media (max-width:768px){
    body {
        font-weight: 18px;
    }
    
    
}

/* sm */
@media (max-width:640px){
    body {
        font-weight: 16px;
        
    }
   
}

/* xs */
@media (max-width:475px){
    body {
        font-weight: 15px;
     
    }
    .header{
        margin-left: 5px;
    }
    
}

@media (max-width:280px){
    body {
   
    overflow-X: hidden;
 }

/* PAGE Wd------------------------------------------------------------ */

