@font-face {
    font-family:"cake";
    src: url(./assets/Fonts/Cake\ Mania.ttf);
}
@font-face {
    font-family:"caviar";
    src: url(./assets/Fonts/CaviarDreams.ttf);
}
@font-face {
    font-family:"hero";
    src: url(./assets/Fonts/Hero-Regular.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: 110vh;
    background-image: url(./assets/images/Landing-\ 1.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
     transition: 0.25s ease;
     overflow-x: hidden;
 
} 

body::-webkit-scrollbar {
 
    background-color: rgb(163, 160, 160);
    width: 10px;
    }
    
    body::-webkit-scrollbar-thumb {
        background:linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
        border-radius: 10px;
        width: 3px;
        
       
    }
    body::-webkit-scrollbar-track-piece {
        background-color: rgb(95, 84, 84); 
    }
    
main {
    width: 100%;
    height: 100%;
    max-width: 90%;
     margin:0 auto;  
}


header {
    
    background-color: rgba(0, 0, 0, 0.714);
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size:20px;
    padding: 18px;
    box-shadow: 1px 5px 5px rgb(0,0,0,0.5);
    border: none;
    border-radius: 0px 0px 20px 20px;
    position: fixed;
    top: 0;
    z-index: 9999;
    
}

header .logo a{
    font-family: "cake";
    font-size: 2.5rem;
    color: white;
}

header .logo font {
    color: rgb(255, 0, 68);
}




nav ul {
    display: flex;
    
    
}
header nav ul li{
    
    margin:0 10px;
    width: 128px;
    padding: 3px 0;
    background-size: 200% auto;
    transition: 0.5s ;
  
}
header nav ul li:hover{
    background-position: right center;
    background-image: linear-gradient(to right, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
    box-shadow: 0px 5px 5px rgba(14, 3, 3, 0.343);
   

}

header nav ul a {
    font-family: "hero";
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: 0.25s;
}
header nav ul a:hover {
    color: rgb(0, 0, 0);
    
}

.bar {
    border: 1px solid rgba(255, 255, 255, 0.68);
}

.hero {
    width: 100%;
    height: 100vh;
    max-width: 500px; 
    padding-top: 100px;  
}

.hero-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    font-family: "caviar";
    font-weight: 800;
}

.hero .hello font {
    font-size: 2rem;

}


.hero button {
    padding: 25px 60px;
    border-radius: 0 15px 0 15px;
    border: none;
   background-image:linear-gradient(to right, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
   color:white;
   font-weight: bold;
   font-family: "hero";
   font-size: 20px;
   text-transform: uppercase;
   cursor: pointer;
   background-size: 200% auto;
   transition: 0.5s;
   box-shadow: 0px 5px 5px rgba(14, 3, 3, 0.343);
}
.hero button:hover {
    background-position: right center;
    scale:1.2;
   
}


footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    font-family: "caviar";
    font-weight: 800;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 10px solid;
    border-bottom: none;
    border-image: linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%)1;
    opacity: 0 ;
    transform: translateY(100px);
    transition: 0.25s ease; 
    

}

.footer {
    width: 100%;
    max-width: 90%;
     margin: 0 auto; 
    
}

.footer-toggle{
    opacity: 1;
    transform: translateY(0);
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;


}

footer .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
   

}
footer h2 {
    background: -webkit-linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer  p {
    background: -webkit-linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
footer .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

footer .right .location {
   margin-left: 29px;
}

.fa-brands {
    color: white;
    scale: 1.2;
    margin: 0 5px;
}
.fa-location-dot{
    color: white;
    position: relative;
    bottom: 27px;
    margin-left: 22px;
    scale: 1.2;
}

.fa-download{
    color: rgb(0, 0, 0) ;

}

.img {
    display: none;
}

.down {
    display: none;
}


.show{
  transform: translateY(0px);
  opacity: 1 !important;
  display: inline-block !important;
}
.disapear{
  transform: translateY(-200px);
  opacity: 0;
  
 

}
.barDi {
    opacity: 0 !important;
    display: none !important;
   
    
}
.barVi {
    opacity:1 !important;
    display: inline-block !important;
    
}
.crossVi {
    display:inline-block !important;
    opacity:1 !important;
}

.crossDi {
    opacity:0 !important;
    display: none !important;
}

.ibar{
    scale: 1.4;
    position: absolute;
    right:20px;
    top: 25px;
    transition: 0.25s ease;
    color: white;
    display: none;

}
.ibar .fa-bars{
    /* scale: 1.4; */
    position: absolute;
    right:0px;
    top: -9px;
    transition: 0.25s ease;
    color: white;
    /* display: none; */

}

.ibar .fa-bars {
    transition: 0.3s;
    
}

.ibar .fa-xmark {
    position: absolute;
    right: 1px;
    top: -10px;
    color: rgb(255, 255, 255);
    display: none;
    z-index: 9999;
    transition: 0.3s;
    /* opacity: 0; */
}

.fa-xmark:active {
    color: rgb(255, 0, 68);
      
}


.fa-bars:active {
    transform: rotate(45deg);
      color: rgb(255, 0, 68);

    
}








/* Responsive PAGE ACCEUIL */

/* 2xl */
@media (max-width:1327px){
    body{
        background-image:url(./assets/images/Landing-\ 2.jpg);
        overflow: visible;
        
    }
    .hero{
        width: 100%;
        max-width:100%;

    }
    .hero h1 {
        text-align: center;
    }
    .hero-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:center;
        margin-top: 150px;
    }

    .hero-btn {
        text-align: center;
        position: relative;
        bottom:100px;
       

    }
    .img {
        display: initial;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:row;
        justify-content: center;
    }

    .img img {
        width: 100%;
        height: 500px;
        max-width: 650Px;
        object-fit: cover;
    }

    .down {
        display: initial;
        width: 100%;
        max-width: 90%;
        height: 100px;
        background-color: rgba(0, 0, 0, 0.863);
       position: fixed;
       margin: 0 auto;
       left: 0;
       right: 0;
       bottom: 0;

    }
    .down p {
        color: white;
        text-align: center;
        font-family: "cake";
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-size: 3rem;
    
    }
    
    .down font {
        color: rgb(255, 0, 68);
    }
    
    
}





/* xl */

@media (max-width:1280px){
    body {
        font-weight: 20px;
    }
    
}

/* lg */

@media (max-width:1024px){
    body {
        font-weight: 19px;
       height: 500px;
        
    }

    header nav ul{
        display:flex;  
    }



    .hero-content{
        position: relative;
        bottom: 150px;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
   
    
}

/* md */


@media (max-width:750px){

    .ibar {
        display: inline-block;
    }

    header nav{ 
       
       
    }
           
        header nav ul {
            position: fixed;
            top: 68px;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: block;
            background-color: rgba(0, 0, 0, 0.671);
            width: 100%;
            max-width: 90%;
            border-radius: 0 0 20px 20px;
            display: none;
            /* opacity: 0; */
            transition: 0.5s;
            /* transform:translateY(-200px); */
           
            
           
        }
        header nav ul li{
            width: 100%;
            padding: 8px;
        }
   
  
}
@media (max-width:768px){
    body {
        font-weight: 18px;
    }
    .img img {
        width: 100%;
        height: 350px;
        max-width: 400Px;
        object-fit: cover;
    }
    
}

/* sm */
@media (max-width:640px){
    body {
        font-weight: 16px;
        height: 350px;
        
    }
    .hero-content {
        margin-top: 10px;
    }
}

/* xs */
@media (max-width:475px){
    body {
        font-weight: 15px;
        background-image: none;
    }
    .hero-content {
        margin-top: 50px;
    }
}


/* PAGE MY WORK */
































































