@font-face {
    font-family: "cake";
    src: url(./assets/Fonts/Cake\ Mania.ttf);
}
@font-face {
    font-family: "go";
    src: url(./assets/Fonts/ProductSans-Regular.ttf);
}
@font-face {
    font-family: "goB";
    src: url(./assets/Fonts/ProductSans-Medium.ttf);
}

@font-face {
    font-family: "caviar";
    src: url(./assets/Fonts/CaviarDreams.ttf);
}
@font-face {
    font-family: "caviarB";
    src: url(./assets/Fonts/CaviarDreams_Bold.ttf);
}

@font-face {
    font-family: "hero";
    src: url(./assets/Fonts/Hero-Regular.ttf);
}
@font-face {
    font-family: "afa";
    src: url(./assets/Fonts/AfacadFlux-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "caviar";
}
html {
    scroll-behavior: smooth;
}
body.active{
    overflow-y: hidden !important;
}
body {
    overflow-x: hidden;
    width: 100%;
    min-height: 110vh;
    font-size: 19px;
    transition: 0.25s;
    background-color: #f1eaea;
}

body::-webkit-scrollbar {
    background: rgb(148, 141, 141);
    width: 8px;


}

::-webkit-scrollbar-thumb {
    background-color: rgb(245, 35, 98);
    border-radius: 40px;

}


#preloader {
    background: black url(./giphy.gif) no-repeat center center;
    background-size: 40%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
}

main {
    background: url(./b3.jpg);
    width: 100%;
    min-height: 110vh;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: rgba(0, 0, 0, 0.568); */
    background-blend-mode: multiply;

}

.no-select {
    user-select: none;
}

header {
    position: absolute !important;
    width: 100%;
    padding: 50px 0;
    margin: 0 auto;
    margin-bottom: 30px !important;
    position: sticky;
    background-color: transparent !important;
    top: 0;
    z-index: 99;
    font-weight: bold;
   
   

}

header .headerContent {
    width: 100%;
    max-width: 90%;

    margin: 0 auto;
   padding: 20px ;
   border-radius: 40px;
    display: flex;

   
    gap: 30%;
}


header .logo  h1{
   color:  rgb(245, 35, 98) ;
    font-family: "caviarB";
   
}

.no-select {
    user-select: none;
}





header nav {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    font-family: "caviar";
    font-size: 19px;
    background-color: rgba(71, 59, 59, 0.473);
    backdrop-filter: blur(8px);
    border-radius: 35px;
    padding: 17px;
}

header nav img {
    height: 30px;
}



header .nav-link:hover {

    
}

header .first{
    position: relative;
}
header .first::before{
    content: '';
    bottom: -10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
   
    background-color: white ;
    display: block;


}
   
    

header nav ul {
   display: flex;
   align-items: center;
   justify-content: space-between;
}



header nav ul li a {
    color: white;
}


.barmenu {
    height: 35px;
    width: 35px;
    display: none;
}

.barmenu::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    margin-bottom: 6px;
    transition: 0.4s;
}

.barmenu::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    /* margin-top: 6px; */
    transition: 0.4s;
}

.barmenu .bar {
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    margin-bottom: 6px;
    transition: 0.4s;
    margin-left: 6px;
    z-index: 99;
}

.barmenu.active::before {
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: rgb(245, 35, 98);
}

.barmenu.active::after {
    transform: rotate(45deg) translate(-7px, -6px);
    background-color: rgb(20, 172, 231)
}

.barmenu.active .bar {
    opacity: 0;
}

.nav2 {
    display: none;
}



.hero {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    height: 100%;
    padding-top: 200px !important;
}

.heroContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 0 20px;
    background-color: rgba(71, 59, 59, 0.473); 
    backdrop-filter: blur(8px);
    border-radius: 30px;
    
    
}

.heroContainer::before{
    content: "";
    position: absolute;
    height: 70%;
    width: 4px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    background-color: white;

}


.heroContainer .left h2{
        font-size: 1.2rem;
        color: white;
        font-family: 'afa';
        font-weight: lighter;
}
.heroContainer .left font{
    font-family: "caviarB";
    color:  rgb(245, 35, 98) ;
}
.heroContainer .left h1 {
    font-size: 2rem !important;
    line-height: 3.2rem;
    /* background: -webkit-linear-gradient(45deg, rgb(237, 27, 90)0%, rgb(0, 185, 246)60%, rgb(255, 47, 227)80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: white;
    font-family: caviar;


}



.heroContainer .left {
    width: 100%;
    height: 100%;
    margin-top: 45px;
    font-family: "caviar";
   


}

.heroContainer .right {
    width: 100%;
   
}
.heroContainer .right img {
    width: 100%;
    padding: 10px;
    object-fit: cover;
  


}


.btn {
    margin-top: 50px;

}

.btn button {
    font-family: 'hero';
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 40px;
    background-color: rgb(221, 26, 84);
    border: none;
    color: rgb(255, 255, 255);
    transition: 0.25s;
    cursor: pointer;

}

.btn button:hover {
    background-color: rgb(255, 0, 76);
    scale: 1.1;


}

.btn2 {
    display: none;
}

.footer.footer-toggle {
    opacity: 1 !important;
    transform: translateY(0) !important;

}

.about-section {
    width: 100%;
   

}

.about {
    position: relative;
    width: 100%;
    max-width: 70%;
    margin: 0 auto;
    border-radius: 100px;
    backdrop-filter: blur(50px);
    padding-top: 50px;
    background-color:   rgba(20, 16, 16, 0.473); 
    top: -50px;
 
    
}
.about::before{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    background-color: white;
    display: block;
}


.about h1 {
    text-align: center;
    font-family: "caviarB";
    color: white;
    
}
.about .about-content {
    position: relative;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.about  .text{
    position: relative;
    width: 100%;
    max-width: 40%;
    margin-right: 30px;
 
    
}
.text::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 4px;
    right: -20px;
    margin: 0 auto;
    border-radius: 10px;
    background-color:  white;

}

.about  .text p {
    font-family: 'afa';
    font-size: 20px;
    color: white;
    
}
 .contact{
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    background-color:  rgb(245, 35, 98) ;
    color: white;
    font-family: "calibri";
    transition: scale 0.25s ease;
    text-transform: uppercase;
    cursor: pointer;
}
.about  .text button:hover{
    scale: 1.1;
    transition: scale 0.25s ease;
}
.about  .about-img{
    width: 100%;
    /* max-width: 40%; */
   
   
    
}
.about  .about-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 100px;
}


.skills-section{
    width: 100%;
    padding-top: 50px;
}

 .skills-content{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
   
}
 .skills-content h1 {
    text-align: center;
    font-family: "caviarB";
    margin-bottom: 50px;
    color: black;
    color:  rgb(245, 35, 98) ;;
}

.skills-content .blocks{
    display: flex;
    gap: 30px;
}

.skills-content .blocks h2 {
    position: relative;
    background-color:  rgb(245, 35, 98) ;
    padding: 10px;
    font-family: "go";
    font-size: 1rem;
    text-transform: uppercase;
    color:  white  ;
    border-radius: 30px 30px 0 0;
    
}
.skills-content .blocks h2::before {
    position: absolute;
    content: '';
    top: -10px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:  rgb(245, 35, 98)  ;
    display: block;
    clip-path: inset(0 0 0 50%);
    rotate: -90deg;
}
.skills-content .blocks h2 {
    font-family: "go";
    font-size: 1rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}


.skills-content .blocks img {
    height: 35px;
    margin-left: 5px;
    vertical-align:text-bottom;
}
.skills-content .blocks P {
    font-family: "afa";
    
}


.projects-section{
    padding: 100px 0;

}

.projects-content{
    position: relative;
    width: 100%;
    max-width: fit-content;
    padding: 50px;
    margin: 0 auto;
    background-color:  rgba(20, 16, 16, 0.473); 
    border-radius: 100px;
    
}
.projects-content::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    background-color: black;
    display: block;
}


.projects-content h1 {
    text-align: center;
    color: white;
    margin-bottom: 50px;
    font-family: "caviarB";
}

.projects-content .projects {
   
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: fit-content;
    margin: 0 auto;
    text-align: center;
    gap: 50px;
}
.projects-content .box{
    position: relative;
}
.projects-content .box::before{
    content: '';
    position: absolute;
    right: -27px;
    height: 100%;
    width: 4px;
    border-radius: 10px;
    background-color: white;
    display: block;
}
.projects-content .box:last-of-type::before{
    display: none;
}
.projects-content .projects h2{
    position: relative;
    font-family: "go";
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 20px;
}
.projects-content .projects h2::before{
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: -15px;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-radius: 50%;
    background-color: black;
    display: block;
}
.projects-content .projects .img{
    width: 100%;
    width: 250px;
    height: 250px;
    
}
.projects-content .projects img{
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    
}
.projects-content .projects button {
    background-color: black;
    font-family: calibri;
    border: none;
    color: white;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    transition: scale 0.25s ease;
}
.projects-content .projects button:hover {
    scale: 1.1;
    transition: scale 0.25s ease;
}

.exit-section{
    padding: 100px 0;
}
.exit-content{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}
.exit-content .icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 70px;
}
.exit-content  img{
    height: 100px;
   
}
.exit-content  .icons img{
    height: 100px;
    animation: float 2s ease-in-out infinite;
}
.exit-content h1 {
text-align: center;

}

  
  @keyframes float {
    0% {
      transform: translateY(0); /* Position initiale */
    }
    50% {
      transform: translateY(-20px); /* Le point le plus haut du flottement */
    }
    100% {
      transform: translateY(0); /* Retour à la position initiale */
    }
  }
.footer {
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-family: "caviar";
    font-weight: 800;
    width: 100%;
    height: auto;
    max-width: 1000px;
    margin: 0 auto;
    /* border-image: linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%)1; */
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transform: translateY(100px);
    transition: 0.4s ease;
    padding: 10px 0;

}




footer.footer-toggle {
    height: 100% !important;



}



footer {
    height: 0;
    transition: 0.4s;

}



footer .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;



}

footer .contact::after {
    content: "";
    height: 2px;
    width: 40px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 0;
    margin: 2px;
    border-radius: 10px;
    transition: 0.25s ease;
}

footer .contact:hover::after {
    transition: 0.25s ease;
    background-color: rgb(225, 5, 93);
    width: 85px;
}

footer .social::after {
    content: "";
    height: 2px;
    width: 80px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 0;
    margin: 2px;
    border-radius: 10px;
    transition: 0.25s ease;
}

footer .social:hover::after {
    transition: 0.25s ease;
    background-color: rgb(225, 5, 93);
    width: 145px;
}

footer h2 {
    background: -webkit-linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;


}

footer p {
    background: -webkit-linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .left {
    display: flex;
    flex-direction: column;

}

footer .right {
    display: flex;
    flex-direction: column;


}

fieldset {
    border: none;
    border-left: 1px solid #ffffffa9;

}

footer p,
footer .icon {
    margin-top: 10px;

}

/* -----------------------------------------CONTACT ME--------------------------------------------------------------------------------------- */

.barmenu2 {
    position: absolute;
    top: 15px;
    right: 10px;
    height: 35px;
    width: 35px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;




}

.barmenu2::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    margin-bottom: 6px;

}

.barmenu2::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;

}

.barmenu2 .bar {
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    margin-bottom: 6px;
    transition: 0.4s;
    margin-left: 6px;
    z-index: 99;
}

.barmenu2::before {
    transform: rotate(-45deg) translate(-5px, 5px);
    background-color: rgb(0, 0, 0);
    height: 1px;
}

.barmenu2::after {
    transform: rotate(45deg) translate(-7px, -6px);
    background-color: rgb(0, 0, 0);
    height: 1px;
}

.barmenu2 .bar {
    opacity: 0;
}

.form.active {
    opacity: 1;
    z-index: 100;
    transition: 0.3s cubic-bezier(.86, 0, .07, 1);

}

.form {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.656);
    top: 0;
    backdrop-filter: blur(10px);
    bottom: 0;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s cubic-bezier(.86, 0, .07, 1);
    opacity: 0;
    z-index: -1;


}

.form h2 {
    text-align: center;
    margin-bottom: 35px;


}

form.active {
    opacity: 1;
    transition: 0.3s cubic-bezier(.86, 0, .07, 1);
    transform: scale(1);
}

form {
    position: relative;
    font-family: "caviar";
    padding: 30px;
    padding-top: 50px;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    opacity: 0;
    transition: 0.1s cubic-bezier(.86, 0, .07, 1);
    transform: scale(0);
    overflow-y: scroll;
   
   
}


form::-webkit-scrollbar {
    width: 0;
}

input,
textarea {
    display: block;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid;
    padding: 10px 0;
}

input:focus,
textarea:focus {
    outline: none;
}

input {
    margin-bottom: 20px !important;
}

input[type="submit"] {
    border: none;
    background-color: black;
    color: #fff;
    width: 100%;
    max-width: 150px;
    padding: 10px 0;
    margin: 40px auto;
    cursor: pointer;
    transition: 0.2s ease;

}

input[type="submit"]:hover {
    background-color: rgb(245, 35, 98);
    transition: 0.2s ease;
}



/* --------------------------------------------------------------------------------------------------------------------------------------- */




.fa-brands {

    color: white;
    margin-right: 5px;

}

.fa-location-dot {
    color: white;
    display: inline-block;
    vertical-align: center;

}

.fa-download {
    color: rgb(0, 0, 0);

}










/* /* RESPONSIVE ACCEUIL *--------------------------------------------------------------*/


/* 2xl */
@media (max-width:1629px) {
    .heroContainer .left h1 {
        /* font-size: 3.5rem; */

    }

    /* .heroContainer .left {
        max-width: 300px !important;
        transition: 0.25s;

    } */

    .btn {
        /* margin-left: 160px; */

    }
}

@media (max-width:1536px) {
    
  

    
    /* header nav ul li {
        padding: 0 20px;
        transition: 0.25s;

        } */

    .heroContainer .right img {
        /* height: 400px; */
        /* margin-top: 100px;
        transition: 0.25s; */
    }
    
    .heroContainer .left {
        /* max-width: 350px !important; */
        /* margin-top: 250px; */
        /* transition: 0.25s; */
        
        
    }

    .heroContainer .left h1 {
        /* font-size: 19px !important;
        line-height: 2.3rem; */
    }

    .heroContainer .hello,
    .name {
        font-size: 2rem;
    }
    
    footer h2,
    p {
        font-size: 20px;
    }

}

@media (max-width:1512px) {
  

    header .heroContainer {
        display: flex;
        flex-direction: column;
    }


}

/* xl */
@media (max-width:1280px) {
    main {
        padding-bottom: 150px;
    }
    .heroContainer {
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .heroContainer::before{
        display: none;
    
    }
        .heroContainer .left {
            text-align: center;
        }
        
        .heroContainer .right {
            width: 100%;
            max-width: 800px;
}
        .skills-content .blocks{
            display: flex;
            flex-wrap: wrap;
        }

}

/* lg */
@media (max-width:1171px) {
   
    .about .about-content {
        display: flex;
        flex-direction: column;
    }
    .about .about-content .text {
        max-width: 100%;
        padding: 0 20px;
        text-align: justify;
        word-spacing: -2px;
        margin: 0;
        
        
    }
    .about .about-content .text::before{
        display: none;
    }
    .about .about-content button {
        position: relative;
        left: 50%;
       transform: translateX(-50%);
       
        margin-bottom: 30px;
        

    }

 
    .about .about-content .about-img img{
        height: auto;
    }
    

  
}

@media (max-width:1024px) {
   header {
       position: relative;
      
    }
    header .logo {
        position: absolute;
        max-width: fit-content;
        top: 22px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}


    @media (max-width:915px) {

        .projects-content .projects{
            
            display: flex;
            flex-direction: column;
        }
        .projects-content .projects .box::before{
            height: 4px;
            width: 100%;
            left: 0;
            right: 0;
            
        }
        .projects-content .projects .box:first-of-type::before{
            display: none;
        }
        .projects-content .projects .box:last-of-type::before{
            display: block;
        }
        .projects-content .projects .box h2{
            margin-top: 30px !important;
        }
      
    }
    /* md */
@media (max-width:840px) {}


@media (max-width:768px) {

      .about {
        max-width: 100%;
       
        
    }

    header nav,
    header .logo {
        scale: 0.8;
    }
   
    .hero {
    padding-top: 150px !important;
    }

}


/* sm */
@media (max-width:640px) {

   

    .heroContainer .left font,
    .heroContainer .left h1{
        font-size: 18px !important;
        
    }

    footer .content {
        padding: 5px;
    }


}


/* xs */
@media (max-width:586px) {

   



    .barmenu {
        display: inline-block;
        cursor: pointer;
        z-index: 99;

    }

    header.active {
        background-color: transparent !important;

       
    }


    .nav2.active {
        opacity: 1;
        left: 0;

    }


    .nav2 {
        font-family: "cabinet";
        font-size: 19px;
        display: block;
        background-color: rgba(255, 255, 255, 0.43);
        height: 100%;
        width: 100%;
        position: fixed;
        left: 100%;
        right: 0;
        top: 0;
        margin: 0 auto;
        text-align: center;
        padding-top: 170px;
        transition: 0.4s;
        z-index: 98;
        opacity: 0;
        display: initial;
        overflow-y: scroll;
        backdrop-filter: blur(10px);

    }

    header .nav2::-webkit-scrollbar {
        width: 0;
       
     
    }

    .nav2 a {
        display: block;
        color: rgb(255, 255, 255);
        background-color: rgb(198, 35, 84);
        border-radius: 0 30px 30px 30px;
        padding: 15px;
        width: 100%;
        max-width: 250px;
        margin-bottom: 50px !important;
        margin: 0 auto;
        font-family: "caviar";
        z-index: 99;
    }

    .nav2 a:hover {
        background-color: rgb(198, 8, 65);
    }

}

@media (max-width:475px) {

    .heroContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .heroContainer .left h1 {
        font-size: 19px;
        text-align: center;

    }

    .barmenu {
        scale: 0.6;
    }

    .skills-content{
        max-width: 96%;
        text-align: justify;
    }

    .btn {
        display: none;

    }



    footer .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer h2,
    footer p,
    footer .icon {
        margin-top: 15px;
    }

    footer h2 {
        width: 100%;
        max-width: fit-content;
        margin: 0 auto;
    }

    .footer {
        padding: 0 5px;
    }

    fieldset {
        border-left: none;
        border-top: 1px solid #ffffffa9;
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .left {
        text-align: center;
    }

}

@media (max-width:400px) {








}


@media (max-width:360px) {

  




}