@font-face {
    font-family: "cake";
    src: url(./assets/Fonts/Cake\ Mania.ttf);
}
@font-face {
    font-family: "caviar";
    src: url(./assets/Fonts/CaviarDreams.ttf);
}
@font-face {
    font-family: "hero";
    src: url(./assets/Fonts/Hero-Regular.ttf);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    overflow-x: hidden;
    width: 100%;
    min-height: 110vh;
    font-size: 19px;
    transition: 0.25s;
}
body::-webkit-scrollbar{
    background: rgb(148, 141, 141);
    width: 8px;
   
 
}
        ::-webkit-scrollbar-thumb{
            background-color: rgb(245, 35, 98);
            border-radius: 40px;
            
        }




main {
    width: 100%;
    max-width: 90%;
    height: 100%;
    margin: 0 auto;
    
}

header {
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: auto;
    position: sticky ;
    top: 0;
    z-index: 99;
   
}
header {
    display: flex;
    align-items: center;

}
header .logo{
    font-family: "cake";
    font-size: 2.5rem;
    padding: 10px;
    z-index: 99;
    
}

.no-select {
    user-select: none;
}
header .logo, .fo{
    color: black;
}
header .logo .red{
    color: rgb(245, 35, 98);
}


header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "caviar";
    font-size: 19px;
}

header .nav-link{
    padding: 10px 25px;
    border-radius: 40px;
    transition: 0.25s ease;
}
header .nav-link:hover{
    background-color: rgb(255, 6, 81);
}

header .first{
   background-color: rgb(0, 0, 0);
   color: white;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
header nav ul li{
    padding: 0 40px;
   
}

header nav ul li a{
   color: black; 
}
header nav ul li a:hover{
   color:white; 
}
.barmenu {  
    height: 35px;
    width: 35px;
    display: none;
}

.barmenu::before {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(245, 35, 98);
    border-radius: 2px;
    margin-bottom: 6px;
    transition: 0.4s;
}
.barmenu::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(20, 172, 231);
    border-radius: 2px;
    /* margin-top: 6px; */
    transition: 0.4s;
}
.barmenu .bar {
    display: block;
    height: 3px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
    margin-bottom: 6px;
    transition: 0.4s;
    z-index:99;
}

.barmenu.active::before {
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: rgb(245, 35, 98);
}
.barmenu.active::after {
    transform: rotate(45deg) translate(-7px, -6px);
    background-color: rgb(20, 172, 231)
}

.barmenu.active .bar {
    opacity: 0;
}

.nav2 {
    display: none;
}



.hero {
    width: 100%;
    height: 100%;
}

.heroContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.heroContainer .left h1 {
    font-size:2rem !important;
    line-height: 3.2rem;
    background: -webkit-linear-gradient(45deg, rgb(237, 27, 90)0%, rgb(0, 185, 246)60%,rgb(255, 47, 227)80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}

.hello {
    font-size: 3rem;
}
.name {
    font-size: 2.5rem;
}
.heroContainer .left {
    width: 100%;
    height:100%;
    margin-top: 200px;
    max-width: 800px;
    font-family:"caviar";
   
     
}

.heroContainer .right img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    margin-top: 100px;


}


.btn {
    margin-top: 120px;
    margin-left: 350px;
    margin-bottom: 30px;
    
}
.btn button {
    font-family: 'hero';
    font-size: 20px;
    padding: 12px 30px;
    border-radius: 40px;
    background-color: rgb(198, 35, 84);
    border: none;
    color: rgb(255, 255, 255);
    transition: 0.25s;
    
}

.btn button:hover {
    background-color: rgb(255, 6, 81);
    scale:1.2;

} 

.btn2 {
    display: none;
}

.footer.footer-toggle{
    opacity: 1;
    transform: translateY(0);
}


.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    font-family: "caviar";
    font-weight: 800;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 10px solid;
    border-bottom: none;
    border-image: linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%)1;
    opacity: 0 ;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    transform: translateY(100px);
    transition: 0.4s ease; 
    
}

footer {
    width: 100%;
    max-width: 90%;
     margin: 0 auto; 
    
}



footer .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 20px 0;
   

}
footer h2 {
    background: -webkit-linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer  p {
    background: -webkit-linear-gradient(45deg, rgba(3, 255, 255, 0.753)0%, rgba(255, 96, 141, 0.855) 51%, rgb(246, 148, 246)100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
footer .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
footer .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

footer .right .location {
   margin-left: 29px;
}

.fa-brands {
    color: white;
    scale: 1.2;
    margin: 0 5px;
}
.fa-location-dot{
    color: white;
    position: relative;
    bottom: 27px;
    margin-left: 22px;
    scale: 1.2;
}

.fa-download{
    color: rgb(0, 0, 0) ;

}









/* /* RESPONSIVE ACCEUIL *--------------------------------------------------------------*/


/* 2xl */
@media (max-width:1629px){
    .heroContainer .left h1{
        font-size: 3.5rem;

    }
    .heroContainer .left{
        max-width: 300px !important;
        transition: 0.25s;
        
    }

    .btn {
        margin-left: 160px;
        
    }
}
@media (max-width:1536px){
 
    header .logo, .fo {
        font-size: 2.5rem;
        transition: 0.25s;
    }
    header nav ul li{
        padding: 0 20px;
        transition: 0.25s;
       
    }
  
    .heroContainer .right img {
        height: 400px;
        margin-top: 180px;
        transition: 0.25s;
    }
    .heroContainer .left{
        max-width: 350px !important;
        margin-top: 250px;
        transition: 0.25s;
 
       
    }
    .heroContainer .left h1{
        font-size: 19px !important;
        line-height: 2.3rem;
    }
    .heroContainer .hello, .name {
        font-size: 2rem;
    }

    footer h2, p {
        font-size: 20px ;
    }

}
/* xl */
@media (max-width:1280px){
    header nav ul li{
        padding: 0 2px;
        transition: 0.25s;
       
    }

    .btn {
        margin-left: 200px;
        
    }
}
/* lg */
@media (max-width:1171px){
    .heroContainer .right img {
        height: 300px;
        transition: 0.25s;
    }

    .heroContainer .left h1{
        font-size: 2.5rem;

    }
    .heroContainer .left{
        max-width: 350px !important;
        transition: 0.25s;
        margin-top: 220px;
    
    }
    .btn {
        margin-top: 80px;
        
    }
}
@media (max-width:1024px){
    header nav ul li{
        padding: 0;
        transition: 0.25s;
       
    }
    .heroContainer .left{
         max-width:100% !important;
         text-align: center;
        transition: 0.25s;
        margin-top:70px;

    
    }
    .heroContainer .right{
        display: flex;
        flex-direction: column;
       
    }
    .heroContainer .hello, .name {
        line-height: 3rem;
    }
    .heroContainer .left h1{
       font-size: 19px !important;
        line-height: 1.8rem;
        text-align: center;
        
    }

    .heroContainer .right img {
        height: 100%;
        width: 100% !important;
        object-fit: cover;
        transition: 0.25s;
        position: relative;
        bottom: 200px;
    }

    .btn {
        display: none;
    }

     

    
.btn2 {
    display: inline-block;
    position: relative;
    bottom: 110px;
    display: flex!important;
    justify-content: center;
    align-items: center;

    /* margin-right:43px ; */

    
}

.btn2 button {
    font-family: 'hero';
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 40px;
    background-color:  rgb(198, 35, 84);
    border: none;
    color: white;
    transition: 0.25s;
    
}

.btn2 button:hover {
    background-color: rgb(255, 6, 81);
    /* scale:1.2; */

} 




   .heroContainer {
    display: flex;
    flex-direction: column;
   }

 
   

    header {
        display: flex;
        gap: 5px;
        flex-direction: column;
        transition: 0.25s;
    }

    footer h2, p {
        font-size: 18px ;
    }

}
/* md */
@media (max-width:840px){
  
}


@media (max-width:768px){
   
    
    header nav {
        scale:0.8;
    }
  
}


/* sm */
@media (max-width:640px){
  

    header .logo, .fo {
        font-size: 2rem;
        transition: 0.25s;
    }
    
    .heroContainer .left h1 {
        font-size: 16px !important;
    }

    footer h2, p {
        font-size: 16px ;
    }

   
}


/* xs */
@media (max-width:586px){

    .heroContainer .left .hello, .name {
        font-size: 1.5rem;
    }
        header {
            display: flex;
            flex-direction: row;
        }
        header nav{
            display: none;
        }
        .barmenu{
        display: inline-block;
        cursor: pointer;
        z-index: 99;
        
    }
  
    header.active {
        background-color: transparent !important;
    }
  

    .nav2.active {
        opacity: 1;
        left: 0;
    
    }
   

    .nav2 {
        font-family: "cabinet";
        font-size: 19px;
        display: block;
        background-color: rgba(25, 55, 89, 0.871);
        height: 100%;
        width: 100%;
        position: fixed;
        left: 100%;
        right: 0;
        top: 0;
        margin: 0 auto;
        text-align: center;
        padding-top:170px;
        transition: 0.4s;
        z-index: 98;
        opacity: 0;
        display: initial;
         
    }
    
    .nav2 a {
        display: block;
        color: rgb(255, 255, 255);
        background-color: rgba(25, 55, 89, 0.871);
        border-radius: 0 30px 30px 30px;
        padding: 15px;
        width:100%;
        max-width:250px;
        margin-bottom: 50px !important;
        margin: 0 auto;
        font-family: "caviar";
    }
    
    .nav2 a:hover {
        background-color:rgb(255, 6, 81);
    }
}
@media (max-width:475px){

    .heroContainer {
        display: flex;
        flex-wrap: wrap;
      }

      .heroContainer .left h1{
        font-size: 19px;
        text-align: center;  

    }

    .barmenu {
        scale: 0.6;
    }

  
  
    .btn  {
        display: none;
          
    }

    footer h2, p {
        font-size: 12px ;
    }
}    
@media (max-width:400px){


    header .logo, .fo {
        font-size: 1.8rem;
        transition: 0.25s;
    }

    footer h2, p {
        font-size: 10px ;
    }
     


}

@media (max-width:300px){
  

    header .logo, .fo {
        font-size: 1.5rem;
        transition: 0.25s;
    }

    footer h2, p {
        font-size: 5px ;
    }
       
    
        
    }






